# Working SQL files with Pandas - Overview

![](pandas_logo.png)

### The Pandas library allows extensive applicability of functions when talking about data. With Pandas, analyzing data has become an easier task.

## Read the data

##### We first need to export the necessary librarys in Python format.

In [2]:
import pandas as pd
import sqlite3
import os

##### In this situation, as part of this workshop, we will open a file in SQLite format. It is possible to open in other formats and with other methods. An auxiliary library (sqlite3) will be useful.

In [ ]:
dir_ = '' # Set file directory

connection_data = sqlite3.connect(dir_) 


query = '' # Which query allows you to select all data

data_to_df = pd.read_sql_query(query, connection_data) # Keep them in a Pandas Dataframe

##### Another useful tool can be merging and joining operations


![](join-types-merge-names.jpg)

##### Lets take a previous look at our data.

In [ ]:
# For inner join

inner_data = pd.merge(, , how='inner', on='')

inner_data

###### Equivalent SQL query

SELECT *

FROM 

JOIN  ON . = .;

In [ ]:
# For left join

left_data = pd.merge(, , how='', on='')

left_data

###### Equivalent SQL query

SELECT *

FROM 

LEFT JOIN  ON . = .;

In [ ]:
# For right join

right_data = pd.merge(, , how='', on='')

right_data

###### Equivalent SQL query

SELECT *

FROM 

RIGHT JOIN  ON . = .;

In [ ]:
# For Full Outer Join

full_data = pd.merge(, , how='', on='')

full_data

###### Equivalent SQL query


SELECT *

FROM 

OUTER JOIN  ON . = . ;

##### You can also subselect with Dataframe and convert the new table to sqlite format

In [ ]:
new_name_file = ''


indexed_data = data_to_df[data_to_df.column_name == value]


indexed_data.to_sql(new_name_file, con, if_exists="replace")

##### We can also limit the view of our dataset with the .set_option method.

In [ ]:
pd.set_option('display.max_rows', 30000)
pd.set_option('display.max_columns', 5000)
pd.set_option('display.width', 10000)

In [ ]:
data_to_df.head() # Preview

In [ ]:
len(data_to_df) # Size

In [ ]:
data_to_df.dtype() # Data types available

##### Lets do some indexing of the data

In [ ]:
column_name = ''


info = data_to_df[column_name] # check values of a certain column

info

In [ ]:
column_names = ['', '']

infos = data_to_df[column_names] # check values of multiple columns

infos

##### The [] provides the following convenience shortcuts:

##### Series: selecting a label: s[label]
##### DataFrame: selecting a single or multiple columns: df['col'] or df[['col1', 'col2']]
##### Slicing the rows: df['row_label1':'row_label2']

##### Some methods allow us for advanced methods.

loc: selection by label;

iloc: selection by position;

In [ ]:
data_to_df.iloc[0] # first row of data frame 
data_to_df.iloc[1] # second row of data frame 
data_to_df.iloc[-1] # last row of data frame 

data_to_df.iloc[:,0] # first column of data frame 
data_to_df.iloc[:,1] # second column of data frame 
data_to_df.iloc[:,-1] # last column of data frame

In [ ]:
data_to_df.iloc[0:5] # first five rows of dataframe
data_to_df.iloc[:, 0:2] # first two columns of data frame with all rows

##### Selections using the loc method are based on the index of the data frame

In [ ]:
index_column = ''

data_to_df.set_index(index_column, inplace=True)
data_to_df.head()

##### With boolean indexing selection, you pass an array or Series of True/False values to the .loc in order to select the rows where your Series has True values.

##### In case you want to modify certain values, you can use .loc method.

##### It is also possible to apply the same function on subsets of your dataframe, based on some keys

In [ ]:
chosen_column = ''

data_to_df.groupby(chosen_column).aggregate(np.sum)

data_to_df.groupby(chosen_column).sum()

##### Finally, we need to close the SQL session

In [ ]:
con.close()